<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--title>{{ title }}</title-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script-->
    <script src="http://js/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!--script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="http://js/bootstrap.min.js"></script-->
    <!--script src="/javascripts/angularApp.js"></script-->
    <!--link rel="stylesheet" href="/stylesheets/style.css"-->
    <!--link href="bootstrap.min.css" rel="stylesheet" /-->
</head>
<body>
    {{{ body }}}
</body>
</html>
