<div class="container">
  <div class="jumbotron" style="text-align:center">
  <h1>Good luck <b><span style="color:green">{{name}}</span></b> </h1>
  </div>
  <div style="text-align:center">
  <h5>Click below to start the test !</h5>
  <a href="/startTest"><span class="glyphicon glyphicon-download"></a>
  </div>
</div>
